body {
    margin: 0;
}
/* header */
header{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
}
a {
    text-decoration: none;
}
nav i{
    color: #fb8b9b;
    font-size: 2em;
}
i:hover {
    color: #213e4e;
}
h2:hover {
    color: #fb8a9b;
}
nav h2{
    color: #213e4e;
    font-size: 2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.share {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.share a i:hover {
    color: #213e4e;
}
.share a i:hover + h2 {
    color: #fb8a9b;
}
a h2:hover {
    color: #fb8a9b;
}

@media (max-width: 960px) {
	nav{
		flex-direction: column;
	}
}
@media (max-width: 960px) {
	.logo{
		padding-bottom: 20px;
	}
}
@media (max-width: 960px) {
	.share{
		padding: 10px;
	}
}

/* Barre de recherche */
.searchbar{
    width: 100%;
    height: 2em;
    background-color: #fb8b9b;
}
input {
    background-color: #fb8a9b;
    color: white;
    padding: 25px 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    width: 100%;
    height: 2em;
    border: none;
    outline: none;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* main */
main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding-top: 2em;
}
main h2 {
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
    font-family:Candal ;
    font-size: 1.8em;
    color: #213e4e;
    border-top: dashed black 1px;
    border-right: dashed black 1px;
    border-left: dashed black 1px;
}
main p {
    font-family: open sans;
    color: gray;
    margin: 1em;
}
.dadBlock {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-bottom: 2em;
}
.babyBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1em;
    width: 32%;
    border: dashed black 1px;
    padding: 0.6em;
    color: #213e4e;
}
.babyBlock .tittleBlock {
    font-family: open sans;
    color: white;
    background-color: #213e4e;
    padding: 1.5em;
    margin: 0;
}
.babyBlock ul {
    font-family: open sans;
    list-style-type: circle;
    color: gray;
    line-height: 2;
}
.babyBlock h3 {
    font-family: open sans;
    display: flex;
    justify-content: center;
}
.babyBlock a {
    display: flex;
    justify-content: center;
    background-color: #fb8a9b;
    color: white;
    border: none;
    padding: 1em;
    font-family: open sans;
}



/* Footer */
footer {
    display: flex;
    width: 80%;
    font-size: 1.2em;
    justify-content: space-around;
    background-color: #213e4e;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 8em;

}
footer div {
    display: flex;
    width: 80%;
    justify-content: space-between;

}
footer div a {
    text-decoration: none;
    color: white;
}
@media (max-width: 960px) {
	footer div{
		flex-direction: column;
        align-items: center;
        justify-content: space-around;
	}
}
@media (max-width: 960px) {
	footer div a{
		padding: 20px;
	}
}