

/* header */
header{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
}
nav li{
    list-style: none;
}
nav i{
    color: #fb8b9b;
    font-size: 2em;
}
nav i:hover{
    color: #213e4e;
}
nav h2{
    color: #213e4e;
    font-size: 2em;
}
nav h2:hover{
    color: #fb8b9b;
}
.back{
    background-image: url(img/background.jpg);
    width: 100%;
    height: 650px;
    display: flex;
    position: relative;
    max-width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}
.textback{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textback h1{
    font-size: 3em;
    font-family: Candal;
}
.textback p{
    font-size: 2em;
    text-align: center;
    font-family: open sans;
    margin :2em;
}
.searchbar{
    width: 100%;
    height: 2em;
    background-color: #fb8b9b;
}
/*#searchbarinput{
    background-color:transparent;
    border: none;
    font-family: open sans;
    font-size: 1em;
    margin-left: 9%;
}
#searchbarinput::placeholder{
    color: white;
}*/
input {
    background-color: #fb8a9b;
    color: white;
    padding: 25px 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    width: 100%;
    height: 2em;
    border: 0;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
/* main */
main {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 2em ;
    margin: auto;
}
main h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-family:Candal ;
    font-size: 1.8em;
    color: #213e4e;
    border-top: dashed black 1px;
    border-right: dashed black 1px;
    border-left: dashed black 1px;
}
main h3 {
    font-size: 1.2em;
    color: #fb8b9b;
    margin:0;
    padding-top: 20px;
}
main p {
    color: gray;
    margin: 0.6em;
}
.dadBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.block {
    display: flex;
}
.babyBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.babyBlock i {
    padding-top: 20px;
}


/* Footer */
footer {
    display: flex;
    width: 80%;
    font-size: 1.2em;
    justify-content: space-around;
    background-color: #213e4e;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 8em;

}
footer div {
    display: flex;
    width: 80%;
    justify-content: space-between;

}
footer div a {
    text-decoration: none;
    color: white;
}