body {
    margin: 0;
}
/* header */
header{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 2em;
}
nav li{
    list-style: none;
}
nav i{
    color: #fb8b9b;
    font-size: 2em;
}
nav i:hover{
    color: #213e4e;
}
nav h2{
    color: #213e4e;
    font-size: 2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.share {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav h2:hover{
    color: #fb8b9b;
}
@media (max-width: 960px) {
	nav{
		flex-direction: column;
	}
}
@media (max-width: 960px) {
	.logo{
		padding: 10px;
	}
}
@media (max-width: 960px) {
	.share{
		padding: 10px;
	}
}

/* Grande image header */
.back{
    background-image: url(img/background.jpg);
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textback{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textback h1{
    font-size: 3em;
    font-family: Candal;
    text-align: center;
}
.textback p{
    font-size: 2em;
    text-align: center;
    font-family: open sans;
    margin: 2em;
}
@media (max-width: 960px) {
	.textback{
		flex-direction: column;
	}
}
.searchbar{
    width: 100%;
    height: 2em;
    background-color: #fb8b9b;
}
input {
    background-color: #fb8a9b;
    color: white;
    padding: 25px 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    width: 100%;
    height: 2em;
    border: none;
    outline: none;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
@media (max-width: 960px) {
	.searchbar{
		flex-direction: column;
	}
}  
/* main */
main {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 2em ;
    margin: auto;
    padding-top: 2em;
}
main h2 {
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
    font-family: Candal;
    font-size: 1.8em;
    color: #213e4e;
    border-top: dashed black 1px;
    border-right: dashed black 1px;
    border-left: dashed black 1px;
}
main h3 {
    font-size: 1.2em;
    color: #fb8b9b;
    margin:0;
    padding: 0.5em;
}
main p {
    color: gray;
    margin: 0.6em;
}
.dadBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
/*@media (max-width: 960px) {
	.dadBlock{
		flex-direction: column;
	}
}*/
.block {
    display: flex;
}
.babyBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.babyBlock i {
    padding-top: 20px;
    font-size: 2em;
}
@media (max-width: 960px) {
	.block{
        display: flex;
		flex-direction: column;
	}
}

/* Footer */
footer {
    display: flex;
    width: 80%;
    font-size: 1.2em;
    justify-content: space-around;
    background-color: #213e4e;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 8em;

}
footer div {
    display: flex;
    width: 80%;
    justify-content: space-between;

}
footer div a {
    text-decoration: none;
    color: white;
}
@media (max-width: 960px) {
	footer div{
		flex-direction: column;
        align-items: center;
        justify-content: space-around;
	}
}
@media (max-width: 960px) {
	footer div a{
		padding: 20px;
	}
}